{% extends 'base.html' %}
{% block head %}
<title>UMB Park</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
 <!-- HEADINGS -->   
<h1 class="text-center">Welcome to UMBPark!</h1>
<h3 class="text-center">Garages:</h3>
<!-- CARDSTYLES AND BUTTONS -->
{% for lot in lots %}

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ lot.name }}</h5>
        <p class="card-text",>{{ lot.total_spots - lot.spots_taken }} spots left</p>
        <div class="d-flex gap-3">
         <!-- Button for the take spot -->
    {% if lot.total_spots - lot.spots_taken > 0 %}
        <form action="{{ url_for('take_spot', lot_id=lot.id) }}" method="post" style="margin: 0;">
            <button type="submit" class="btn btn-primary">Take Spot</button>  
        </form>
    {% else %}
        <button type="button" class="btn btn-secondary" disabled>Garage Full</button>
    {% endif %}

     {% if lot.spots_taken > 0 %}
        <form action="{{ url_for('free_spot', lot_id=lot.id) }}" method="post" style="margin: 0;">
            <button type="submit" class="btn btn-primary">Free Spot</button>
        </form>
    {% endif %}
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}