{% extends 'base.html' %}
{% block head %}
<title>UMB Park</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
    <!-- HEADINGS -->
    <h1 class="text-center">Welcome to UMBPark!</h1>
    <h3 class="text-center">Garages:</h3>
    <!-- CARDSTYLES AND BUTTONS -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% for lot in lots %}

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ lot.name }}</h5>
                     <!-- COLOR STATUS FOR EACH GARAGE -->
                    {% if lot.total_spots - lot.spots_taken == 0 %}
                    <span class="badge bg-danger">Full</span>
                    {% elif lot.total_spots - lot.spots_taken < lot.total_spots * 0.2 %} <span class="badge bg-warning">Almost
                        Full!</span>
                        {% else %}
                        <span class="badge bg-success">Available</span>
                        {% endif %}
                        <p class="card-text" ,>{{ lot.total_spots - lot.spots_taken }} spots left</p>
                        <div class="d-flex gap-3">
                            <!-- Button for the take spot -->

                            {% if lot.total_spots - lot.spots_taken > 0 %}
                            <form action="{{ url_for('take_spot', lot_id=lot.id) }}" method="post" style="margin: 0;">
                                <button type="submit" class="btn btn-primary">Take Spot</button>
                            </form>
                            {% else %}
                            <button type="button" class="btn btn-secondary" disabled>Garage Full</button>
                            {% endif %}
                            <!-- Button for the free spot -->

                            {% if lot.spots_taken > 0 %}
                            <form action="{{ url_for('free_spot', lot_id=lot.id) }}" method="post" style="margin: 0;">
                                <button type="submit" class="btn btn-primary">Free Spot</button>
                            </form>
                            {% endif %}
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}